

@font-face {
    font-family: Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}


@font-face {
    font-family: Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}


body {
    margin: 0px;
    background-color: #404756;
    font-family: Bold;
    color: white;
}


.f10-cabecario {
    display: flex;
    flex-direction: row;
    font-family: Bold;
    font-size: 1.3em;
    color: white;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(95, 103, 121, 0.7);
    padding: 0.8rem;
    align-content: center;
    align-content: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}


.f10-parte1 {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.f10-parte2 {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.f10-logo img {
    height: 50px;
    width: auto;
    margin-left: 3em;
    margin-right: 1em;
}
.f10-imagem img {
    height: 25px;
    width: auto;
    border-radius: 100%;
    margin-left: 1em;
    margin-right: 3em;
    background-color:#7F8694 ;
    border-radius: 100%;
    padding: 1rem;
}



.f16-textarea {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.textarea1 {
    background-color: #2A3244;
    border-radius: 15px;
    padding-left: 2em;
    padding-top: 3em;
    width: 29em;
    margin-right: 5em;
}

.textarea2 {
    background-color: #2A3244;
    border-radius: 15px;
    padding-left: 2em;
    padding-top: 3em;
    width: 29em;
}

input {
    width: 425px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

textarea {
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.salarioa input {
    width: 180px;
    height: 35px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.salariode input {
    width: 180px;
    height: 35px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.salarios {
    flex-direction: row;
    display: flex;
}

.f16-configuracoes {
    margin-left: 5.5em;
    margin-bottom: 2.5em;
    font-size: 1.5em;
    margin-top: 2em;
}

select {
    width: 32em;
    height: 35px;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}