body{
    margin:0px;
}
/*
@font-face {
    font-family: Montserrat-regular;
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("../../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: Montserrat-semiBold;
    src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

    isso aqui vai ficar pro react :)
*/