
body {
    margin: 0px;
    background-color: #404756;
}
.f10-cabecario {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: white;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(95, 103, 121, 0.7);
    padding: 0.8rem;
    align-content: center;
    align-content: center;
}


.f10-parte1 {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.f10-parte2 {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.f10-logo img {
    height: 50px;
    width: auto;
    margin-left: 3em;
    margin-right: 1em;
}
.f10-imagem img {
    height: 50px;
    width: auto;
    border-radius: 100%;
    margin-left: 1em;
    margin-right: 3em;
}





.f10-tudo {
    background-image: url("../../src/assets/images/f10-fundo.png");
    background-repeat: no-repeat;
    padding-bottom:30rem;
    background-size: 100% 100%;
}

.f10-pesquisa2 {
    justify-content: center;
    display: flex;
}

.f10-pesquisa {
    justify-content: center;
    display: flex;
    margin-top: 4rem;
    background-color: white;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 10px;
    align-items: center;
    width: 700px;
    height: 50px;
}

select {
    background-color: white;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color:rgba(95, 103, 121, 1)
}
input {
    background-color: white;
    outline: none;
    border: none;
    width: 195px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}



.f10-cidade input {
    border-radius: 15px;
}

.f10-textofiltro {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: white;
    margin-top: 3rem;
    margin-left: 6rem;
    text-shadow: 1px 1px 1px black;
}

.f10-filtrosimg img {
    width: 29px;
    height: 29px;
    margin-right: 1em;
}

.f10-lupa img {
    margin-top: 6px;
    width: 29px;
    height: 29px;
    margin-right: 1em;
}

hr {
    border: 0.2px solid #5F6779;
    margin: 1em;
    opacity: 80%;
}



